@import './constants/style_constants';
@import './constants/colors_constants';

div#address-bar-location {
  padding-left: $gap-bw-search-and-buttons;
}
div#address-bar-buttons {
  padding-right: $gap-bw-search-and-buttons;
  padding-left: 0.4em;

  button {
    height: $address-bar-height;
    // border-radius: 1em; border: 0;
    vertical-align: top;
  }
}

div#top-menu-buttons {
  padding-left: $gap-bw-search-and-buttons;
  button {
    padding: 0.2em 0;
    margin-right: 0.4em;
    width: 5.5em;
    text-align: center;
  }

  button:last-child {
    width: 4.5em;
  }
}

div#address-bar-location {
  span span:last-child::after {
    content: '> ';
  }
  span:first-child span:last-child::after {
    content: '';
  }
}

// div.folder-view-title::before {
//   content: "\2B";
// }
div.folder-view {
  border-top: 1px solid $folder-full-view-top-border-color;
  margin-bottom: 1em;
  padding: 0 $folder-full-view-lt-rt-padding;

  &.expanded {
    div.folder-view-title::before {
      content: '\2B  ';
    }
  }
  &.collapsed {
    div.folder-view-title::before {
      content: '\2212  ';
    }
    div.folder-view-content {
      display: none;
    }
  }

  div.folder-view-title {
    padding: 0;
    padding-left: $folder-full-view-title-padding-lt;
    margin: 0;
    transform: translate(-$folder-full-view-lt-rt-padding, -50%);
    background-color: $folder-full-view-title-bg-color;
    color: $folder-full-view-title-color;
    display: inline-block;
  }

  div.folder-view-content {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: stretch;

    div.folder-view-column {
      flex: 1 1 0;
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
      justify-content: flex-start;

      &.col-1-1 {
        max-width: 99.98%;
      }
      &.col-1-2 {
        max-width: 49.99%;
      }
      &.col-1-3 {
        max-width: 33.33%;
      }
      &.col-1-4 {
        max-width: 24.99%;
      }
      &.col-1-5 {
        max-width: 19.99%;
      }
      &.col-1-6 {
        max-width: 16.66%;
      }

      div.folder,
      div.bookmark {
        height: $node-height;
        padding-left: $node-padding-lt;
        padding-right: $node-padding-rt;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;

        white-space: nowrap;

        * {
          overflow: hidden;
        }
      }
    }
  }
}
