@import './constants/layout-constants';

* {
  box-sizing: border-box;
  position: relative;
}

svg {
  font-size: 1.1rem;
}

@mixin side-elements() {
  position: fixed;
  top: 0;
  height: 100%;
}
@mixin flex-row-nowrap() {
  display: flex;
  flex-flow: row nowrap;
}

// base layout of the page.

div#main > nav#top-menu,
div#main > div#content {
  // display: flex; flex-flow: column;
  padding-left: $side-margin1-wide;
  padding-right: $side-margin1;
  width: 100%;
}
div#content {
  margin-top: $top-menu-height;
  padding-bottom: 2rem;

  z-index: 10;

  div#content-container {
    width: 100%;
    padding-top: $content-container-top-padding;
    padding-bottom: $content-bottom-padding;
  }
}

nav#side-menu,
aside {
  @include side-elements();
  z-index: 1000;
}
nav#side-menu {
  left: 0;
  overflow: auto;
  width: $side-margin1-wide;
}
aside {
  right: 0;
  overflow: hidden;
  width: $side-margin1;
}

// layout of content area.

nav#top-menu {
  position: fixed;
  top: 0;
  z-index: 100;
  height: $top-menu-height;

  // this over-writes justify-content by the class for this el.
  justify-content: space-between;

  div#address-bar {
    display: flex;
    flex-flow: row nowrap;
    min-width: $address-bar-min-width;
    flex: 1 1 auto;
  }
}

@media screen and (max-width: 1100px) {
  nav#top-menu {
    height: $top-menu-height-2;
    flex-flow: row wrap;
  }
  div#content {
    margin-top: $top-menu-height-2;
  }
}
