@import './constants/style-constants';
@import './constants/colors-constants';

@import 'reset';
@import 'utilities';
@import 'layout';
@import './element-layout/elements';

* {
  outline: 2px solid rgba(188, 26, 209, 0.308);
  text-decoration: none;
}
::-webkit-scrollbar {
  width: $scroll-bar-width;
  height: $scroll-bar-height;
} /*horizontal*/
::-webkit-scrollbar-track {
  background: $scroll-bar-background-color;
}
::-webkit-scrollbar-thumb {
  background: $scroll-bar-color;
  border-radius: $scroll-bar-border-radius;
}
::-webkit-scrollbar-thumb:hover {
  background: $scroll-bar-hover-color;
}
svg {
  pointer-events: none;
}
