$folder-full-view-top-border-color: black;
$folder-full-view-title-bg-color: white;
$folder-full-view-title-color: black;

$scroll-bar-background-color: rgba(0, 0, 0, 0.1);
$scroll-bar-color: rgba(0, 0, 0, 0.5);
$scroll-bar-hover-color: rgba(0, 0, 0, 0.7);

$dragged-fol-bkm-color: rgba(241, 200, 251, 0.781);
$selected-fol-bkm-bg-color: rgba(6, 113, 185, 0.3);
$was-moved-fol-bkm-bg-color: rgba(237, 194, 141, 0.589);
$shw-in-fol-color: rgba(156, 213, 57, 0.589);

// To show alternating colors for nested folders.
$subfolder-content-odd-bg-color: white;
$subfolder-content-odd-bg-color: rgb(150, 150, 150);

$drag-el-bg-col: white;

// OVERLAY
$overlay-bg-default-color: rgba(0, 0, 0, 0.7);
$overlay-content-bg-default-color: white;

// context menu
$ctx-menu-item-bg-color: white;
$ctx-menu-item-bg-color-hov: rgb(217, 194, 233);
$ctx-menu-item-bg-color-highlight: rgb(232, 210, 155);
$ctx-menu-item-bg-color-highlight-hov: rgb(195, 152, 225);

// Popup
$popup-btn-text: rgb(236, 236, 236);
$popup-btn-bg: rgb(45, 124, 203);
$popup-btn-bg-hov: rgb(30, 84, 139);
$popup-btn-min-wd: 4rem;

// Pins
$pinned-fol-container-dragover-col: rgb(228, 241, 241);
