$side-margin1: 11rem;
// $side-margin2: 10rem;
$side-margin3: 0;

$top-menu-height: 2.5rem;
$top-menu-height-2: 4.5rem;
$address-bar-min-width: 25rem;

$content-top-padding: 0.6rem;
$content-bottom-padding: 7rem;
$folder-full-view-title-padding-lt: 0.6rem;
$folder-full-view-top-padding: 1.5rem;
$folder-full-view-lt-rt-padding: 1rem;

$node-height: 2rem;
$node-padding-lt: 0.3rem;
$node-padding-rt: 0.1rem;

$subfolder-content-lt-padding: 0.7rem;

// Overlay
$overlay-extra-margin-top: 4rem; // serves as the minimum margin as well.
$overlay-content-max-width: 80%;
$overlay-content-min-width: 50%;
$overlay-content-height: 70%;

$overlay-title-ht: 2.5rem;
$overlay-buttons-ht: 2.8rem;
$popup-buttons-pd: 0 1em;

$overlay-button-ht: 1.8em;
$overlay-button-mg: 0.6em;
