$side-margin1: 11em;
// $side-margin2: 10em;
$side-margin3: 0;

$top-menu-height: 2.5em;
$top-menu-height-2: 4.5em;
$address-bar-min-width: 25em;

$content-top-padding: 0.6em;
$content-bottom-padding: 7em;
$folder-full-view-title-padding-lt: 0.6em;
$folder-full-view-top-padding: 1.5em;
$folder-full-view-lt-rt-padding: 1em;

$node-height: 2em;
$node-padding-lt: 0.3em;
$node-padding-rt: 0.1em;

$subfolder-content-lt-padding: 0.7em;
