$gap-bw-search-and-buttons: 0.5em;
$address-bar-height: 2em;

$bookmark-icon-margin-sides: 0.3em;
$subfolder-content-bottom-margin: 0.8em;

$scroll-bar-width: 0.6em;
$scroll-bar-height: 0.1em; // horizontal scroll.
$scroll-bar-border-radius: 0.3em;
