@use 'sass:math';

@import './layout-constants';

// address bar
$gap-bw-search-and-buttons: 0.5rem;
$address-bar-height: 1.3rem;
$address-bar-btn-ht: 1.5rem;

// middle content - bookmark and folders
$bookmark-icon-margin-sides: 0.3rem;
$subfolder-content-bottom-margin: 0.8rem;
$folder-icon-margins: 0 $bookmark-icon-margin-sides;

// scrollbar
$scroll-bar-width: 0.6rem;
$scroll-bar-height: 0.1rem; // horizontal scroll.
$scroll-bar-border-radius: 0.3rem;

// Side menu.
$pin-fol-tip-mg: 1rem 0 0;
$pin-fol-mg-top: 3rem;
$fix-btn-default-ht: $top-menu-height;
$pin-fol-ht: $fix-btn-default-ht;
$fix-btn-pd: 0 0.3rem;
$pin-fol-pd: 0 0.3rem;

// Context menu
$ctx-menu-width: 14rem;
$ctx-menu-border-radius: 0.3rem;
$ctx-menu-item-height: 1.8rem;
$ctx-menu-item-side-pd: 0.8rem;

// Popups
$popup-content-pd: 0.5rem;
$popup-content-border-radius: 0.3em;

$popup-title-font-size: 1.2rem;
$popup-text-pd: 0 0;
$popup-text-mg: 0 0 1rem 0;

$popup-btn-pd: 0.5rem;
$popup-btn-border-radius: 0.3rem;

$fol-sel-subfols-pd-lt: 1rem;
$fol-sel-ht: 1.8rem;

$popup-form-pd: 0.3rem 0.3rem 0.3rem 2rem;
$popup-form-input-ht: 2rem;
$popup-form-input-label-wd: 15rem;
$popup-form-label-mg: 0 0.5rem 0 0;

// Drag element
$drag-el-border-radius-1: 1rem;
$drag-el-border-radius-2: 0.2rem;
$drag-el-ht: 2rem;
$drag-el-wd-1: 15rem;
$drag-el-wd-2: $side-margin1;
$drag-el-pd: 0 1rem;
$drag-el-pos: translate(-4rem, -1rem);

// Drag over
$insert-into-border: 0.3em solid black;
$insert-lt-rt-border: 4em solid black;
$insert-top-bot-border: math.div($node-height, 4.5) solid black;
