@import '../constants/layout-constants';
@import '../constants/style-constants';
@import '../constants/colors-constants';

// div#drag-details {

span#drag-elements-el {
  pointer-events: none;
  position: fixed;
  // top: -5rem; // Was used to hide the element initially.
  // left: $side-margin1;
  z-index: 2000;

  padding: $drag-el-pd;
  height: $drag-el-ht;
  white-space: nowrap;
  font-style: italic;
  border-radius: $drag-el-border-radius-1;
  border: 1px solid black;
  font-style: normal;

  width: $drag-el-wd-1;

  transform: $drag-el-pos;
  background-color: $drag-el-bg-col;
  overflow: hidden;

  & * {
    flex: 0 0 auto;
  }

  &.drag-pin-title {
    border-radius: $drag-el-border-radius-2;
    width: $drag-el-wd-2;
  }
}
// }
