div#duplicates-page {
  padding: 0 1rem;
  div#duplicates-controls {
    padding: 0.5rem;
    margin: 0 0 0.5rem 0;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;

    span {
      cursor: pointer;
      color: $popup-btn-text;
      background-color: $popup-btn-bg;

      height: 2rem;
      min-width: 2rem;
      margin: 0 0.5rem;
      padding: 0 $popup-btn-pd;
      border-radius: $popup-btn-border-radius;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: $popup-btn-ft-sz;

      &:hover {
        background-color: $popup-btn-bg-hov;
      }
    }
  }

  div#node-groups {
    div.duplicates-group {
      margin: 1rem 0;
      div.duplicate-node {
        padding: 0.3rem;

        input {
          margin: 0 0.6rem 0 0;
        }

        span.parent-chain {
          padding: 0 0.5rem 0 0;
        }

        a.duplicate-node-link {
          margin-left: 0.5rem;
          padding: 0.1rem 0.2rem;

          img,
          svg {
            transform: translateY(0.2rem);
            margin-right: 0.3rem;
          }
        }
      }
    }
  }
}
