@import './folder-full-view';
@import './top-menu-and-bar';
@import './nodes';
@import './side-menu';
@import './drag_element';
@import './overlay';
@import './overlay_popup';
@import './ctx_menu';
@import './recent';
@import './duplicates';
@import './search_page';

button {
  padding: 0;
}

.inline-el-no-wrap-center {
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.inline-el-no-wrap-center-both {
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}

span.btn-icon {
  flex: 0 0 auto;
  height: 1.5rem;
  width: 1.5rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.selected,
div div span.selected {
  background-color: $selected-fol-bkm-bg-color;
}

.was-selected {
  background-color: $was-moved-fol-bkm-bg-color;
}

.show-in-folder {
  background-color: $shw-in-fol-color;
}

// Transition for move classes
// &.row-bef,
.row-bef,
// &.row-bet,
.row-bet,
// &.row-aft,
.row-aft,
// &.col-bef,
.col-bef,
// &.col-bet,
.col-bet,
// &.col-aft,
.col-aft {
  transition: border-width 0.1s ease-in;
}
