@import '../constants/layout-constants';
@import '../constants/colors-constants';

div.folder,
a.bookmark {
  // .folder is just a container and deosn't have any stylings.
  &.being-dragged {
    background-color: $dragged-fol-bkm-color;
  }

  height: $node-height;
  // padding-left: $node-padding-lt;
  // padding-right: $node-padding-rt;
  border-left: 0.2rem solid $node-border-light;

  display: flex;
  //   align-items: center;
  justify-content: stretch;

  white-space: nowrap;

  * {
    overflow: hidden;
  }

  & > span {
    // padding property not used to allow hovering/dragging
    // on top of white area.
    border-right: $node-padding-rt solid $node-border-color;
    border-left: $node-padding-lt solid white;

    height: $node-height;
    background-color: $subfolder-title-color;

    border-bottom-right-radius: $subfolder-bottom-right-radius;
    border-bottom: $node-border-bottom;
  }
}

div.folder {
  flex-flow: column nowrap;

  &.expanded {
    height: auto;
  }

  & > div.folder-children {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    padding-left: $subfolder-content-lt-padding;
  }

  &.expanded > div.folder-children {
    margin-bottom: $subfolder-content-bottom-margin;
  }

  &.collapsed > div.folder-children {
    display: none;
  }

  span.folder-icon {
    display: inline-block;
    margin: $folder-icon-margins;
    pointer-events: none;
    flex: 0 0 auto;
  }
  & > span {
    cursor: pointer;
  }
}

a.bookmark {
  overflow: hidden;
  padding-left: $node-padding-lt;
  border-bottom: $node-border-bottom;
  img {
    object-fit: contain;

    // duplicate-bkm-group
    // vertical-align: top; margin: 0em 0.2rem;
  }
  img,
  svg {
    flex: 0 0 auto;
    // pointer-events: none; // done in main file.
    max-height: 1.5rem;
    margin: 0 $bookmark-icon-margin-sides 0 0;
    flex: 0 0 auto;
  }
}

// Drag over classes.
div.folder,
a.bookmark {
  &.row-bef,
  .row-bef {
    border-left: $insert-lt-rt-border;
  }
  &.row-bet,
  .row-bet {
    border: $insert-into-border;
  }
  &.row-aft,
  .row-aft {
    border-right: $insert-lt-rt-border;
  }
  &.col-bef,
  .col-bef {
    border-top: $insert-top-bot-border;
  }
  &.col-bet,
  .col-bet {
    border: $insert-into-border;
  }
  &.col-aft,
  .col-aft {
    border-bottom: $insert-top-bot-border;
  }
}
