@use 'sass:math';

@import '../constants/layout-constants';
@import '../constants/colors-constants';

div.folder,
a.bookmark {
  // .folder is just a container and deosn't have any stylings.
  &.being-dragged {
    background-color: $dragged-fol-bkm-color;
  }

  height: $node-height;
  padding-left: $node-padding-lt;
  padding-right: $node-padding-rt;
  display: flex;
  //   align-items: center;
  justify-content: stretch;

  white-space: nowrap;

  * {
    overflow: hidden;
  }

  & > span {
    height: $node-height;
  }
}

div.folder {
  flex-flow: column nowrap;

  &.expanded {
    height: auto;
  }

  & > div.folder-children {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    padding-left: $subfolder-content-lt-padding;
  }

  &.expanded > div.folder-children {
    margin-bottom: $subfolder-content-bottom-margin;
  }

  &.collapsed > div.folder-children {
    display: none;
  }

  span.folder-icon {
    display: inline-block;
    margin: $folder-icon-margins;
    pointer-events: none;
  }
  & > span {
    cursor: pointer;
  }
}

a.bookmark {
  overflow: hidden;
  margin-left: $node-padding-lt;
  img {
    object-fit: contain;

    // duplicate-bkm-group
    // vertical-align: top; margin: 0em 0.2rem;
  }
  img,
  svg {
    flex: 0 0 auto;
    // pointer-events: none; // done in main file.
    max-height: 1.5rem;
    margin: 0 $bookmark-icon-margin-sides 0 0;
    flex: 0 0 auto;
  }
}

// Drag over classes.
div.folder,
a.bookmark {
  .row-bef,
  &.row-bef {
    border-left: 4em solid black;
  }
  .row-bet,
  &.row-bet {
    border: 0.4em solid black;
  }
  .row-aft,
  &.row-aft {
    border-right: 4em solid black;
  }
  .col-bef,
  &.col-bef {
    border-top: math.div($node-height, 4.5) solid black;
  }
  .col-bet,
  &.col-bet {
    border: 0.3em solid black;
  }
  .col-aft,
  &.col-aft {
    border-bottom: math.div($node-height, 4.5) solid black;
  }
  .row-bef,
  &.row-bef,
  .row-bet,
  &.row-bet,
  .row-aft,
  &.row-aft,
  .col-bef,
  &.col-bef,
  .col-bet,
  &.col-bet,
  .col-aft,
  &.col-aft {
    transition: border-width 0.1s ease-in;
  }
}
