@import '../constants/layout-constants';
@import '../constants/style-constants';
@import '../constants/colors-constants';

// Overall popup element layout.
div#popup {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;

  div#popup-title {
    font-size: $popup-title-font-size;

    flex: 0 0 $overlay-title-ht;
    padding: 0 $popup-content-pd;

    display: flex;
    align-items: center;

    background-color: $main-dark3-color;
    color: white;
  }
  div#popup-content {
    flex: 0 1 auto;
    padding: $popup-content-pd;
    height: 100%;
    overflow: auto;
  }
  div#popup-buttons {
    flex: 0 0 $overlay-buttons-ht;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    margin: $popup-buttons-pd;
    border-top: 1px solid grey;

    &.left {
      justify-content: flex-start;
    }
    &.center {
      justify-content: center;
    }

    // Right one is default.
    // &.right {
    justify-content: flex-end;
    // }
  }
}
div.full-height div#popup {
  height: 100%;
}

// Popup content (text, form, folder-selector) layout.
div#popup-content {
  div#popup-text {
    padding: $popup-text-pd;
    margin: $popup-text-mg;
  }

  div#folder-selector-list {
    padding: 0.5rem;
    p {
      padding: 0.5rem 0 0.8rem;
    }

    div.folder-selector {
      div.select-fol {
        height: $fol-sel-ht;

        span.btn-icon {
          cursor: pointer;
        }

        display: flex;
        flex-flow: row nowrap;

        span + span {
          padding: 0.2rem 0.4rem;
        }
      }

      div.folder-selector-subfolders {
        padding-left: $fol-sel-subfols-pd-lt;
      }
    }
  }

  div#popup-form {
    padding: $popup-form-pd;

    div.popup-input {
      height: $popup-form-input-ht;
      display: flex;
      flex-flow: row nowrap;

      label {
        flex: 0.07 0 auto; // $popup-form-input-label-base-wd;
        margin: $popup-form-label-mg;

        // lable has class .inline-el-no-wrap-center
        justify-content: flex-end;
      }
      input {
        flex: 1 1 0;
        border-bottom: 1px solid black;
        margin-right: 2rem;
      }
    }
  }
}

// Popup buttons - shown at bottom.
div#popup-buttons div.popup-btn {
  cursor: pointer;
  color: $popup-btn-text;
  background-color: $popup-btn-bg;

  height: $overlay-button-ht;
  min-width: $popup-btn-min-wd;
  margin: 0 $overlay-button-mg;
  padding: 0 $popup-btn-pd;
  border-radius: $popup-btn-border-radius;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: $popup-btn-ft-sz;

  &:hover {
    background-color: $popup-btn-bg-hov;
  }
}
