@import '../constants/layout-constants';

div#overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  height: 100%;
  width: 100%;

  overflow: hidden; // should never occur.
  background-color: $overlay-bg-default-color;

  &.transparent {
    background-color: transparent;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;

  div#overlay-content {
    border-radius: $popup-content-border-radius;
    overflow: auto;
    background-color: $overlay-content-bg-default-color;

    max-width: $overlay-content-max-width;
    min-width: $overlay-content-min-width;
    max-height: $overlay-content-height;
    &.full-height {
      height: $overlay-content-height;
    }
    // min-height: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: $overlay-extra-margin-top;

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
  }
}
