div#recent-page {
  div#recent-setting {
    padding: 0.5rem 1rem;

    input {
      margin: 0 2rem 0 1rem;
      border: none;
      border-bottom: 1px solid black;
    }

    button {
      padding: 0 1rem;
      margin-right: 2rem;
    }

    margin-bottom: 0.5rem;
  }
}
