@import '../constants/style-constants';

@mixin side-menu-btns() {
  border-top: 1px solid white;
  border-bottom: 2px solid black;

  &:active,
  &.curr-fol {
    border: none;
    box-shadow: none;
  }
}

nav#side-menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  color: white;
  background-color: $main-dark1-color;

  div#fixed-btn {
    flex: 0 0 auto;

    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 0.2rem;
    // padding-top: 0.8rem;

    span {
      flex: 0 0 auto;
      height: $fix-btn-default-ht;
      padding: $fix-btn-pd;
      margin-bottom: 0.3rem;

      cursor: pointer;
      color: white;
      // font-weight: bold;
      font-size: 1.2rem;

      @include side-menu-btns();
      border: none;
      box-shadow: 0 0.3rem 0.3rem 0 black;

      &:active {
        padding-top: 0.1rem;
      }
      // border-top: 1px solid #cacaca;
    }

    // span:first-child {
    //   height: calc($fix-btn-default-ht + 1rem);
    // }
  }
  div#pinned-folders {
    padding-top: $pin-fol-mg-top;
    flex: 1 1 auto;

    color: white;
    background-color: $main-light2-color;

    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
    align-items: stretch;
    justify-content: flex-start;

    span#pin-fol-tip {
      flex: 0 0 auto;
      font: italic 0.88rem sans-serif;
      padding: $pin-fol-tip-pd;
      text-align: center;
      // text-decoration: underline;
      pointer-events: none;

      color: white;
      background-color: $main-light1-color;
    }

    p {
      flex: 0 0 auto;
      height: $pin-fol-ht;
      font-size: 1.2rem;
      cursor: pointer;
      // background-color: white;

      justify-content: space-between;
      span.pin-title {
        height: $pin-fol-ht;
        padding: $pin-fol-pd;
        overflow: hidden;
        flex: 1 1 auto;
        color: white;

        background-color: $main-dark2-color;

        @include side-menu-btns();
      }

      span.pin-title:active + span.btn-icon,
      span.col-bef + span.btn-icon,
      span.col-bet + span.btn-icon,
      span.col-aft + span.btn-icon {
        display: none;
      }
      span.btn-icon {
        position: absolute;
        right: 0.4rem;
        flex: 0 0 auto;
        display: none;
        color: white;
        // margin-right: 0.4rem;

        svg {
          height: 1.5em;
          width: 1.5em;
        }
      }
      &:hover span.btn-icon {
        display: flex;
      }

      span.col-bef {
        border-top: $insert-top-bot-border;
      }
      span.col-bet {
        border: $insert-into-border;
      }
      span.col-aft {
        border-bottom: $insert-top-bot-border;
      }
    }
  }
}
