@import '../constants/style-constants';

nav#side-menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;

  div#fixed-btn {
    flex: 0 0 auto;

    display: flex;
    flex-flow: column nowrap;

    span {
      flex: 0 0 auto;
      height: $fix-btn-default-ht;
      padding: $fix-btn-pd;
      cursor: pointer;
    }
  }
  span#pin-fol-tip {
    flex: 0 0 auto;
    font: italic 0.8em sans-serif;
    margin: $pin-fol-tip-mg;
    text-align: center;
    text-decoration: underline;
  }
  div#pinned-folders {
    padding-top: $pin-fol-mg-top;
    flex: 1 1 auto;

    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
    align-items: stretch;
    justify-content: flex-start;

    p {
      flex: 0 0 auto;
      height: $pin-fol-ht;
      font-size: 1.2rem;
      cursor: pointer;

      justify-content: space-between;
      span.pin-title {
        height: $pin-fol-ht;
        padding: $pin-fol-pd;
        overflow: hidden;
        flex: 1 1 auto;
      }

      span.pin-title:active + span.btn-icon,
      span.col-bef + span.btn-icon,
      span.col-bet + span.btn-icon,
      span.col-aft + span.btn-icon {
        display: none;
      }
      span.btn-icon {
        flex: 0 0 auto;
        display: none;

        svg {
          height: 1.5em;
          width: 1.5em;
        }
      }
      &:hover span.btn-icon {
        display: flex;
      }

      span.col-bef {
        border-top: $insert-top-bot-border;
      }
      span.col-bet {
        border: $insert-into-border;
      }
      span.col-aft {
        border-bottom: $insert-top-bot-border;
      }
    }
  }
}
