@import '../constants/style-constants';

div#address-bar-location {
  padding-left: $gap-bw-search-and-buttons;
}
div#address-bar-buttons {
  padding-right: $gap-bw-search-and-buttons;
  padding-left: 0.4rem;

  button {
    height: $address-bar-height;
    // border-radius: 1rem; border: 0;
    vertical-align: top;
  }
}

div#top-menu-buttons {
  padding-left: $gap-bw-search-and-buttons;
  button {
    padding: 0.2rem 0;
    margin-right: 0.4rem;
    width: 5.5rem;
    text-align: center;
  }

  button:last-child {
    width: 4.5rem;
  }
}

div#address-bar-location {
  span span:last-child::after {
    content: '> ';
  }
  span:first-child span:last-child::after {
    content: '';
  }
}
