@import '../constants/style-constants';
@import '../constants/colors-constants';

nav#top-menu,
nav#top-menu * {
  color: white;
  background-color: $main-dark3-color;
}

div#address-bar-location {
  padding-left: $gap-bw-search-and-buttons;
}
div#address-bar {
  padding-right: $gap-bw-search-and-buttons;
  padding-left: 0.4rem;
  justify-content: space-between;

  div#address-bar-location {
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex-direction: row-reverse;

    span {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
    span.address-location {
      cursor: pointer;
    }
    flex: 0 1 auto;
    // background-color: white;
  }

  input#search-input {
    flex: 1 1 auto;
  }

  span.btn-icon {
    height: $address-bar-height;
    // border-radius: 1rem; border: 0;
    vertical-align: top;
    // width: 2.5rem;
  }
}

div#top-menu-buttons {
  padding-left: $gap-bw-search-and-buttons;
  button {
    padding: 0.2rem 0.3rem;
    border: 1px solid white;
    margin-right: 0.4rem;
    min-width: 5.5rem;
    text-align: center;
    height: $address-bar-btn-ht;
    font-size: 1rem;

    span.btn-icon {
      height: auto;
    }
  }

  button:last-child {
    width: 4.5rem;
  }
}

// div#address-bar-location {
//   span span:last-child::after {
//     content: '> ';
//   }
//   span:first-child span:last-child::after {
//     content: '';
//   }
// }
